<!DOCTYPE html>
<html lang="es-MX">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Facultad de Contaduría y Administración</title>
    </head>
    <body>
        <!-- Footer -->
        <footer class="footer">
            <p>
                Hecho en México<br>
                D.R. © 2025<br>
                <a href="/components/creditos.html">CRÉDITOS</a><br>
                Esta página puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica. De otra forma requiere permiso previo por escrito de la institución.<br>
                <a href="https://fca.unam.mx/docs/aviso_privacidad.pdf">AVISO DE PRIVACIDAD</a><br>
                Sitio web administrado por el Centro de Informática de la Facultad de Contaduría y Administración (CIFCA).<br>
                <a href="https://fca.unam.mx/docs/permanentes/seguridad.pdf">Documento de seguridad</a> | <a href="https://fca.unam.mx/docs/permanentes/aws.pdf">Instrumento jurídico</a> | <a href="https://fca.unam.mx/docs/permanentes/aviso_simplificado.pdf">Aviso de privacidad simplificado</a>
            </p>
        </footer>
        <script src="#"></script>
    </body>
</html>