/* Footer */
.footer {
    border-radius: 15px 15px 0 0;
    background-color: #1e1f20;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}

.footer p {
    margin-bottom: 0.5rem;
}

.footer a {
    color: #C0985A;
    text-decoration: none;
}